*{
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: calc(64px*9);
  height: calc(64px*8);
  display: flex;
  flex-wrap: wrap;
}

.cell{
  width:64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.black{
  background-color: rgb(180, 177, 177);
}

.white{
  background-color: rgb(53, 39, 39);
}

.cell img {
  width: 36px;
  height: 48px;
  position: relative;
}

.selected{
  background-color: brown;
}

.available{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.lost{
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}